* {
  margin: 0;
}

body {
  margin: 1rem;
}

.actions {
  display: flex;
  align-items: center;
  gap: 2rem;

  margin-bottom: 2rem;
}

.actions .value {
  font-size: 2rem;
}

.actions .btn {
  cursor: pointer;
  padding: 0.5rem;
}
